<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Report</title>
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('dashboard')}}">Dashboard</a>
            <a href="{{url_for('history')}}">History</a>
            <a href="{{url_for('recurring.recurring')}}">Recurring</a>
            <a href="{{url_for('expense')}}">Expense</a>
            <a href="{{url_for('report')}}">Report</a>
            <a href="{{url_for('balance')}}">Balance</a>
        </div>
            
        <div class="nav-right">
            <img src="{{ url_for('static', filename='images/image.png') }}" alt="profile-menu" id="profile-icon">
                <div class="dropdown-content" id="dropdown-menu">
                    <a href="{{ url_for('tips') }}" target="_blank">Tips</a>
                    <a href="{{ url_for('forgot_password') }}">Change Password</a>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </div>
        </div>
    </header>

    <div class="report">
        <h1>Report</h1>
        <form action="/report" method="post" class="report-form">
            <label for="report-range">Report Period:</label>
            <select name="range" id="report-range" required>
                <option value="this_week">This Week</option>
                <option value="this_month" selected>This Month</option>
                <option value="last_month">Last Month</option>
                <option value="last_3_months">Last 3 Months</option>
                <option value="this_year">This Year</option>
                <option value="custom">Custom Date Range</option>
            </select>
            <br>

            <div id="custom-range" style="display: none;">
                <label for="start-date">Start From:</label>
                <input type="date" id="start-date" name="start-date">

                <label for="end-date">End To:</label>
                <input type="date" id="end-date" name="end-date">
            </div>

            <label for="gen">Generate Report:</label>
            <button type="submit" name="action" value="csv">CSV</button>
            <button type="submit" name="action" value="pdf" id="pdf">PDF</button>
        </form>

        <script>
        document.addEventListener("DOMContentLoaded", function () {
            const rangeSelect = document.getElementById("report-range");
            const customBox = document.getElementById("custom-range");
            const startInput = document.getElementById("start-date");
            const endInput = document.getElementById("end-date");

            function toggleCustom() {
                const isCustom = rangeSelect.value === "custom";
                customBox.style.display = isCustom ? "block" : "none";
                startInput.required = isCustom;
                endInput.required = isCustom;
            }
            rangeSelect.addEventListener("change", toggleCustom);
            toggleCustom();
        });
        </script>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>